

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: auto;
        text-align: center;
        font-family: arial;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 4px;
        width: 50%;
        background: rgba(255, 255, 255, 0.664);
        margin-left: 25vw;
      }
      
      .card button:hover {
        opacity: 0.7;
      }

      .zoom {
       
        transition: transform .2s; /* Animation */
        height: 75px;
        margin: 0 auto;
      }
      
      .zoom:hover {
        transform: scale(3.5); 
      }